body {
  padding: 0px;
  margin: 0px;
  font-family: verdana;
}
header nav {
  background-color: #000;
  padding-top: 10px;
  padding-bottom: 10px;
}
header a {
  text-decoration: none;
  color: #fff;
  margin-right: 25px;
}
.nav-link {
  white-space: nowrap;
  color: #fff !important;
}
.stjumbotron.standard {
  background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url("images/main-header.jpg");
  background-size: cover;
  background-position: center;
  height: 460px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.stjumbotron h1 {
  color: #fff;
  font-size: 50px;
  font-weight: 400;
  text-align: center;
}
.main-contents {
  margin-top: 25px;
  margin-left: 45px;
  margin-right: 45px;
  margin-bottom: 45px;
}
.sponsor-section {
  background-color: #e9e9e9;
  padding: 15px;
  margin-top: 15px;
}
.sponsor-section h1 {
  margin-bottom: 0px;
  font-size: 24px;
}
.sponsor-section .sponsor-information {
  margin-left: 20px;
  margin-top: 15px;
  padding-left: 10px;
  padding: 10px;
  border-left: 2px solid #a9a9a9;
}
.sponsor-section .sponsor-information .sponsor-name {
  font-weight: bold;
}
.beverage-cart-sponsors {
  font-size: 20px;
}
.door-prize-sponsors {
  font-size: 12px;
}
.door-prize-sponsors h1 {
  font-size: 14px;
}
.sponsorship-section,
.ticket-section {
  margin-top: 15px;
  background-color: #e9e9e9;
  padding: 15px;
}
.sponsorship-header,
.ticket-header {
  display: flex;
  justify-content: space-between;
}
.sponsorship-title,
.ticket-title {
  font-weight: bold;
  font-size: 18px;
}
.sponsorship-price,
.ticket-price {
  padding: 10px;
  padding-bottom: 10px;
}
.sponsorship-byline {
  font-weight: bold;
}
.footer-wrapper {
  background-color: #025;
}
.footer {
  display: flex;
  justify-content: space-between;
  margin-right: auto;
  margin-left: auto;
  color: #fff;
  font-size: 10px;
  max-width: 1000px;
}
.footer .info {
  padding-top: 25px;
  text-align: right;
  margin-right: 15px;
}
.footer .info a {
  color: #fff;
}
.footer .logo {
  background-image: url("images/st-marys-transparent-logo.png");
  width: 397px;
  height: 122px;
}
.twitter-icon,
.facebook-icon,
.email-icon {
  display: inline-block;
  width: 30px;
  height: 30px;
  background-color: #000;
  border-radius: 50%;
  background-size: 65%;
  background-position: center;
  background-repeat: no-repeat;
  margin-left: 10px;
  margin-bottom: 10px;
}
.twitter-icon {
  background-image: url("images/svg/twitter.svg");
}
.facebook-icon {
  background-size: 35%;
  background-image: url("images/svg/facebook.svg");
}
.email-icon {
  background-image: url("images/svg/envelope.svg");
}
@media only screen and (max-width: 650px) {
  header nav {
    padding-top: 5px;
    padding-bottom: 5px;
  }
  .stjumbotron.standard {
    background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url("images/main-header-medium.jpg");
    height: 375px;
  }
  .stjumbotron h1 {
    font-size: 40px;
  }
  .main-contents {
    margin: 25px;
  }
  .footer .logo {
    background-image: url("images/st-marys-transparent-logo-medium.png");
    width: 298px;
    height: 92px;
  }
}
@media only screen and (max-width: 500px) {
  header nav {
    padding-top: 2px;
    padding-bottom: 2px;
  }
  .stjumbotron.standard {
    background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url("images/main-header-small.jpg");
    height: 250px;
  }
  .stjumbotron h1 {
    font-size: 30px;
  }
  .main-contents {
    margin: 10px;
  }
  .footer {
    flex-direction: column;
    align-items: center;
  }
  .footer .logo {
    background-image: url("images/st-marys-transparent-logo-small.png");
    width: 199px;
    height: 61px;
  }
  .footer .info {
    padding-top: 15px;
    text-align: center;
    margin-right: 0px;
  }
}
@media (min-width: 950px) {
  .navbar-expand-custom {
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
  }
  .navbar-expand-custom .navbar-nav {
    flex-direction: row;
  }
  .navbar-expand-custom .navbar-nav .nav-link {
    padding-right: 0.5rem;
    padding-left: 0.5rem;
  }
  .navbar-expand-custom .navbar-collapse {
    display: flex !important;
  }
  .navbar-expand-custom .navbar-toggler {
    display: none;
  }
}
