<div class="footer-wrapper">
    <footer class="footer">
        <div class="logo"></div>
        <div class="info">
            <a href="https://facebook.com/StMarysCanandaigua"><span class="facebook-icon"></span></a>
            <a href="http://twitter.com/stmary1849"><span class="twitter-icon"></span></a>
            <a href="mailto:contact@stmarysgolf.org"><span class="email-icon"></span></a><br>
            &copy; COPYRIGHT 2019. ALL RIGHTS RESERVED.<br>
            <span class="attribution">Social icons provided by <a href="https://fontawesome.com/license/free">Font Awesome</a></span>
        </div>
    </footer>
</div>